.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.photo {
  height: 500px;
  width: auto;
}
.button {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  margin: auto;
  width: 35%;
  margin-top: 3%;
}
.text{
  width: 35%;
}
