#root {
  margin: 0 auto;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}
.flex {
  display: flex;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.curt {
  margin-top: 30px;
}